{% extends 'base.html.twig' %}

{% block title %}Create contract{% endblock %}

{% block body %}

<div class="container-fluid px-4">
  <h1 class="mt-4">Contracts</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Create contract</li>
    </ol>
  
  <div class="row" {{ stimulus_controller('contract') }}>
    <div class="col-xl-6">
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-chart-area me-1"></i>
            Create contract form
        </div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-12">
              <div class="form-floating mb-3 mb-md-0">
                <input {{ stimulus_target('contract', 'label') }} type="text" class="form-control" id="label" name="label">
                <label for="label" class="form-label">label</label>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-12">
              <div class="form-floating mb-3 mb-md-0">
                <input {{ stimulus_target('contract', 'description') }} type="text" class="form-control" id="description" name="description">
                <label for="description" class="form-label">Description</label>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-12">
              <div class="form-floating mb-3 mb-md-0">
                <input {{ stimulus_target('contract', 'token') }} type="text" class="form-control" id="token" name="token">
                <label for="token" class="form-label">Token ( use token {{ token.code }})</label>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-12">
              <button {{ stimulus_target('contract', 'submitButton') }} type="button" class="btn btn-primary" {{ stimulus_action('contract', 'createContract') }}>Create contract</button>
              <button {{ stimulus_target('contract', 'loaderButton') }} class="btn btn-primary" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Creating contract. This can take a few seconds. Please wait...
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}