{% extends 'base.html.twig' %}

{% block title %}Panel{% endblock %}

{% block body %}

{% if app.user.address is null %}
    <div class="row" {{ stimulus_controller('wallet') }}>
        <div class="col">
            <button type="button" class="btn btn-info" {{ stimulus_action('wallet', 'connectWallet') }}>Connect wallet</button>
        </div>
    </div>
{% else %}
    <table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Enabled</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.enabled }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endif %}

{% endblock %}
